<!DOCTYPE html>
<html>
<head>
    <title>Create Word</title>
    <link rel="stylesheet" href="../Styles/stylesheet.css">
</head>
<body>
<div class="content">
    <form id="postWordForm">
        <label for="word">Your word:</label>
        <input type="text" id="word" name="word" required>

        <button type="submit">Submit</button>

        <a id="statUpdate"></a>
    </form>
</div>
<div class="content">
    <a href="NavigationPage.html">Back to menu...</a>
</div>
<script src="../Controllers/CreateWordController.js"></script>
</body>
</html>
