<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get all Words</title>
    <link rel="stylesheet" href="../Styles/stylesheet.css">
</head>
<body onload="getAllWords()">
<div class="content" id="contentDiv">
    <table id="listTable"></table>
    <br>
</div>
<div class="content">
    <br>
    <a href="index.html">Back to menu...</a>
</div>
<script src="../Controllers/GetAllWordsController.js"></script>
<script src="../Controllers/DeleteWordController.js"></script>
<script src="../Controllers/UpdateWordController.js"></script>
</body>
</html>
